fastapi==0.110.0
uvicorn==0.28.0
numpy==2.5.2
scipy==1.18.1
networkx==3.5
osmnx==2.1.1
qiskit==2.5.2
ortools==9.15.6755
deap==1.4.4
folium==0.20.0
geopandas==1.1.4
pydantic==2.6.4
matplotlib==3.10.1
requests==2.31.0
